html, body, #root, #root>div {
  height: 100%;
  margin: 0;
}

.App {
  background-color: #e6e6e6;
}

.App-header {
  margin-top: 100px;
}

.signUpBtn {
  margin-top: 100px;
}

.title-text {
  overflow-x:hidden;
  white-space: pre;
  width: 70%;
  cursor: pointer;
  text-decoration: none
}

.title-text:hover {
  text-decoration: underline;
  transition: .2s text-decoration;
}

@media(max-width: 330px) {
  .App-header {
    text-align: center;
  }
}